# Notebook configuration

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Neoauto

In [2]:
neoauto = pd.read_csv('datasets/raw/neoauto.csv')
print(neoauto.shape)
neoauto.head()

(5362, 15)

,Brands,Models,Version,Currency,Price,Urlpic,Year,KM,Fuel_type,Transmission,Location,Color,Cilinder,Upholstery,Engine
0,SUZUKI,S-PRESSO,4x2,USD,"US$ 9,800",https://cde.neoauto.pe/autos_usados/360x240/66...,2023.0,16684.0,Gasolina,MecÃ¡nica,"Lima, Lima",Rojo,3.0,tela,"1,000 cc"
1,DFSK,GLORY 500,Delantera,USD,"US$ 12,000",https://cde.neoauto.pe/autos_usados/360x240/70...,2023.0,11054.0,Gas GLP,MecÃ¡nica,"Lima, Lima",Blanco,4.0,tela,"1,500 cc"
2,TOYOTA,YARIS,Delantera,USD,"US$ 15,500",https://cde.neoauto.pe/autos_usados/360x240/70...,2023.0,15500.0,Gas GNV,MecÃ¡nica,"Lima, Lima",Rojo,4.0,tela,"1,300 cc"
3,FORD,RAPTOR,4x4,USD,"US$ 75,900",https://cde.neoauto.pe/autos_usados/360x240/30...,2020.0,12500.0,Gasolina,AutomÃ¡tica - Secuencial,"Lima, Lima",Blanco,6.0,tela,"3,500 cc"
4,KIA,SPORTAGE,4x2,USD,"US$ 27,900",https://cde.neoauto.pe/autos_usados/360x240/70...,2023.0,52130.0,Gasolina,MecÃ¡nica,"Lima, Lima",Gris Oscuro,4.0,Asientos de cuero,"1,999 cc"

Declare paths and constants

In [3]:
CURRENT_YEAR = 2024
SOLES_TO_DOLLAR = 1 / 3.8

## Clean numerical features

Change

In [4]:
neoauto[['Price', 'Engine']] = neoauto[['Price', 'Engine']].replace(to_replace = r'[ ,a-zA-Z$]', value = '', regex = True)\
                                                           .replace(to_replace = '', value = np.nan)\
                                                           .astype(float)

Validate

In [5]:
neoauto[['Price', 'Engine']].dtypes

Price     float64
Engine    float64
dtype: object

## Clean categorical features

Check unique values

In [6]:
neoauto.describe(include = object)

,Brands,Models,Version,Currency,Urlpic,Fuel_type,Transmission,Location,Color,Upholstery
count,5361,5361,4900,5362,5334,5339,5361,5362,5072,5361
unique,81,846,541,1,5326,9,3,42,53,2
top,TOYOTA,RAV4,4x2,USD,https://cde.neoauto.pe/autos_usados/360x240/68...,Gasolina,AutomÃ¡tica - Secuencial,"Lima, Lima",Blanco,tela
freq,495,91,1617,5362,2,4123,2179,4908,849,4125

### Brands

In [7]:
neoauto.Brands.unique()

array(['SUZUKI', 'DFSK', 'TOYOTA', 'FORD', 'KIA', 'PEUGEOT', 'AUDI',
       'HYUNDAI', 'NISSAN', 'RENAULT', 'MAZDA', 'HONDA', 'JEEP',
       'MITSUBISHI', 'VOLKSWAGEN', 'MERCEDES BENZ', 'CHEVROLET',
       'PORSCHE', 'SUBARU', 'GEELY', 'CITROEN', 'MINI', 'LEXUS', 'DODGE',
       'JETOUR', 'BMW', 'LAND ROVER', 'VOLVO', 'JAGUAR', 'MG',
       'SSANGYONG', 'CHERY', 'SEAT', 'JAC', 'HAVAL', 'MC LAREN', 'FIAT',
       'HUDSON', 'DONGFENG', 'MAXUS', 'MASERATI', 'CHANGAN', 'RAM', 'GAC',
       'ASTON MARTIN', 'CUPRA', 'GREAT WALL', 'BAIC YINXIANG', 'CHRYSLER',
       'MORRIS GARAGES', 'SWM', 'LAMBORGHINI', 'DAEWOO', 'ZOTYE', 'HAIMA',
       'OTROS', 'JMC', 'DAIHATSU', nan, 'LADA', 'FOTON', 'INFINITI',
       'DATSUN', 'CHANGHE', 'SHINERAY', 'MERCURY', 'BRILLIANCE', 'GONOW',
       'MAHINDRA', 'BYD', 'SOUEAST', 'INTERNATIONAL', 'JINBEI',
       'GOLDEN DRAGON', 'BAIC', 'BUGGY', 'YUGO', 'PONTIAC', 'ISUZU',
       'VICTORY', 'ACURA', 'OLDSMOBILE'], dtype=object)

### Models

In [8]:
neoauto.Models.unique()

array(['S-PRESSO', 'GLORY 500', 'YARIS', 'RAPTOR', 'SPORTAGE', '3008',
       'Q5', 'ELANTRA', 'KICKS', 'KOLEOS', 'X-TRAIL', 'CX-5', 'HR-V', '3',
       'SORENTO', 'GRAND CHEROKEE LAREDO', '3 SPORT', 'CX-9', 'OUTLANDER',
       'GOL', 'VERSA', 'I20', 'C-180', 'CR-V', 'DUSTER',
       'TIGUAN ALLSPACE', 'QASHQAI', 'TRACKER', 'FRONTIER', 'CX-3',
       'MACAN S', 'TIGUAN', 'ASX', 'PILOT', 'IMPREZA', 'SPIN', 'TUCSON',
       '208', 'SONET', 'I20 HB', 'GX3', 'C5 AIRCROSS', 'BALENO',
       'COROLLA', 'COROLLA CROSS', 'RAIZE', 'RUSH', 'CRETA', 'SELTOS',
       'A3 SPORTBACK', 'PRIUS', 'SENTRA', 'FORTUNER', '2', 'RANGER',
       'HATCH 3DR', 'GRAND CHEROKEE LIMITED', 'IS 300', 'MUSTANG',
       'SANTA FE', 'NIVUS', 'GLE 400 4MATIC', 'C-350', 'FORESTER',
       'HILUX', 'RIO', '4RUNNER', 'JOURNEY', 'A4', 'SAVEIRO', 'X70 PLUS',
       'X3 28i', 'RANGE ROVER SPORT', 'X4 20i', 'XC-40', 'RAV4', 'PASSAT',
       'A-180', '750LI', 'GLA 200', 'XV', 'CLA 45 AMG',
       'ALL NEW FORESTER', 'F-PACE', 'L200', 'EVOLTIS', '5', 'JETTA',
       'NEW REXTON', 'TIGGO 8 PRO', 'X-3', 'HATCH JCW', 'X3 20i',
       'CONVERTIBLE', 'C-200', 'TIGGO 8', 'F-150', 'LEON STYLE 1.6 MEC',
       '528-I', 'EDGE TITANIUM', 'GL 400', 'COMPASS', 'X1 18i', 'S5',
       'TOUAREG', 'M4', 'TAHOE', 'CERATO', 'TIGGO 7 PRO', 'EXPLORER',
       'IS 200t', 'UX 250h', 'OUTBACK', 'T-CROSS', 'AGYA', 'DURANGO',
       'JS4', 'H6', 'HIGHLANDER', 'COOPER', 'TRAVERSE', 'CLA 200',
       'AVENSIS', 'A200', 'ESCAPE', 'COROLLA HYBRID', 'XC-90',
       'CAYENNE GTS', 'GRAND i10', 'i10', 'GRAND NOMADE', 'KWID', '650S',
       'COOPER S', 'A6', 'PATHFINDER', 'LEGACY', 'ARRIZO 5', '2008',
       'NEW ASX', 'X4 M40i', '640i', 'TERRITORY', 'RENEGADE',
       'CHEROKEE LIMITED', '550i', 'GRAND CHEROKEE SRT', 'X5 35i',
       'C-250', 'GRAND CHEROKEE OVERLAND', 'X 1/9', 'PARTNER', 'WASP',
       'E200 COUPE', 'COLORADO', 'C-ELYSÃ‰E', 'ECOSPORT', 'MONTERO SPORT',
       'ALL NEW H6', 'X1 20i', 'GOLF', 'AMAROK',
       'WRANGLER UNLIMITED RUBICON', 'M235i', 'X6 30d', 'CAYENNE',
       'X2 20i', 'E-350', 'DISCOVERY SPORT', 'X3 30i', '740LI',
       'Cherokee Longitude', 'LAND CRUISER PRADO', 'E-200', 'X5 40i',
       'M6', 'X3 35i', 'VIRTUS', 'A7 SPORTBACK', 'CX-30', 'ECLIPSE CROSS',
       'Q3', '316i', 'Q8', 'S63-AMG', 'IMPREZA SPORT', 'LX 570',
       'SUBURBAN', 'BOXER', 'TIVOLI', 'ODYSSEY', 'JIMNY', 'T5 EVO',
       'JETTA GLI', 'TT COUPE', 'X6 M', 'UX 250h LUXURY', 'EXPEDITION',
       'NIRO', 'GLORY 580', 'CAPTIVA', 'RX 450hL', 'GLC 200',
       'GRAND CHEROKEE', 'RANGE ROVER EVOQUE', 'CORONA', 'CIVIC',
       'GLE 53 AMG', 'CRETA GRAND', 'DS-4', 'NEW VITARA', 'STARIA', 'T60',
       '318', 'KORANDO', 'OROCH', 'H-1', 'SOLUTO', 'SENTRA V16', 'BT-50',
       'X5 50i', 'XC-60', 'D60', 'i30', 'ONIX', 'ORLANDO',
       'LEVANTE S GRANSPORT', 'CAYENNE TURBO', 'COOLRAY', 'GLORY 560',
       'X4', 'TAOS', 'UNIT-T', 'E-300', 'VITARA', 'GX3 PRO', 'STEPWAY',
       'X5', 'ESCAPE SE', 'S90', 'A1', 'CAPTUR', '2 SPORT', 'MG GS',
       'EDGE SEL', 'S-CROSS', 'LOGAN', 'GOL POWER', 'X-TERRA', 'LX 600',
       'GOL SEDÃ\x81N', '520-i', 'X7 SPORT', 'XPANDER', 'C55-AMG',
       'GLA250 4MATIC', 'VENUE', 'ACCENT', 'GLC 250 4MATIC',
       'RANGE ROVER VELAR', 'EVOQUE', 'X70', 'TIGGO 2', 'CROSSFOX',
       'DISCOVERY', 'C-300', 'OKAVANGO', 'JUMPER', 'HILUX SR',
       'VERSA SENSE', 'VERNA', 'COMPASS SPORT', 'KIZASHI',
       'RANGE ROVER VOGUE', 'HS', 'CITY TOURING',
       'GLE 63 S AMG 4MATIC COUPE', 'CLA 180 COUPE', '5 PUERTAS',
       'IMPREZA WRX', 'V700', 'CLUBMAN', 'EMZOOM', 'EMKOO', 'PATRIOT',
       'AMG GT', 'DB11', 'FORMENTOR', 'DBX', 'NX300H LUXURY', 'M440I',
       'C63-AMG', 'LEVANTE TROFEO', 'ALL NEW REXTON', 'GLC 200 COUPE',
       'GLE 450 4 MATIC', 'E-500', 'CORVETTE', 'WR-V',
       'AMG GLC 43 4MATIC', 'LEVANTE', 'ACCORD', '420i', 'S60', 'GLA 180',
       'MUSSO GRAND', 'X90 PLUS', 'C-3', 'SL-280', 'X6 50i', '120i',
       '428i', 'DISCOVERY 4', 'WRANGLER RUBICON', '420I GRAN COUPE',
       '318i', '320i', 'SWIFT', 'MACAN GTS', 'CAYENNE S', 'MACAN',
       'A3 SEDAN', 'Q7', 'R8', 'A3 HB', 'HRV', 'DASHING', 'XPANDER CROSS',
       'PALISADE', 'BRONCO SPORT', 'TIGGO 3', 'TIGGO', 'PICANTO CROSS',
       'ES 250', 'GRAND VITARA', 'XL7', 'COMMANDER', 'FIESTA', 'FUSION',
       'ALL NEW ONIX', 'ATOS', 'GLORY iX5', '118i', 'C4 Cactus', 'C31',
       'WRX', 'GLB 200', 'PULSE', 'AMG GLE53 COUPE', '1000', '700',
       '1500', 'HAVAL H3', 'AVANZA', 'HIACE', 'M4 CABRIO', 'ETIOS',
       'CLS 400', 'X6 35i', '721', 'IX', 'HATCH COOPER S', '530E', 'X3',
       'M340i XDRIVE', 'M135i', '530i', 'COUNTRYMAN COOPER', '330i',
       '220i', '420GCI', 'HATCH 5DR', 'X2', '218i GRAN COUPE',
       'COUNTRYMAN COOPER S', 'LAND CRUISER', 'NP300 FRONTIER', 'x4 30i',
       'RAM', 'TERAMONT', 'CX-7', 'M140i', 'X1', 'LANDTREK', '500', '407',
       'CRUZE', 'Q3 SPORTBACK', 'GLE 400 COUPE', 'JS8', 'PRISMA',
       'ML 300 4MATIC', 'VIVANT', 'MOHAVE', 'COUNTRYMAN',
       'RX 350 F-SPORT', 'H2', 'T8', 'JOLION', 'CS55', 'J6', 'C-4',
       'CELERIO', 'CX70', 'APV', 'CROSSTREK', 'DARGO', 'FORESTER TURBO',
       'ONIX JOY', 'ALL NEW MAZDA 3', 'BERLINGO', 'GLE 43 AMG',
       'E 200 ELEGANCE', 'YIXUAN GS', 'H30', 'X5 30d', '307-SW', 'ARONA',
       'X-5', '301', 'ML 350', 'AMG GT S', 'KENBO S3', 'WINGROAD',
       'RANGER LIMITED', 'N-300 WORK', 'JOYEAR SX6', 'V40', 'PICANTO',
       'H3', 'CIVIC LX', 'CERATO KOUP', '418i GCI', 'GT-86', 'CHARGER',
       'TIGGO 2 PRO', 'C-10', 'NATIVA', 'GL-450', 'C240', '6', 'CORRADO',
       'GT', 'GL-500', 'CAMRY', 'OPTIMA', 'TOWN & COUNTRY', 'MG 5',
       'A5 COUPE', 'MALIBU', 'CC', 'N400', 'TACOMA', 'M3', '200', 'XE',
       'PICK UP', 'NX 300h', 'C 200 COUPE', 'CIAZ', 'K07S', 'LEON FR',
       '5008', '435i', 'GLB 200 STYLE', '850', 'S6', 'STRADA ADVENTURE',
       'NITRO', 'RICH6', 'CAMARO', 'CAYMAN GTS', 'KONA', 'MONTERO',
       'BEETLE', 'IMPREZA SEDÃ\x81N', 'E-PACE', '360', 'EXPERT', 'BIPPER',
       'VERSA ADVANCE', 'MX 5', 'CT 200H', 'SLC-200', 'C-180 KOMPRESSOR',
       'CS15', 'S2', 'JS3', 'MX 6', 'STARLET', 'X7', 'TIIDA',
       'APV MINIVAN', 'S3 SedÃ¡n', 'RAM-1500', 'URUS', 'FIORINO',
       'ML 400 CDI', 'GOLF GTI', 'AMG A 45S 4 MATIC', 'CAYENNE TURBO S',
       'CITY', 'CAYENNE COUPE', 'S3', 'G350', '911', 'S22',
       'LANCER CEDIA', 'MURANO', 'ALL NEW OUTBACK', 'SPARK GT',
       'GLADIATOR', '335i', '308', 'i20 ACTIVE', 'CLA 180',
       'GLE 450 COUPE', 'GOL CONFORT SEDAN', 'M5', 'SX-4',
       'XC-70 CROSS COUNTRY', 'ALL NEW FORESTER 2019', 'X5 30i', 'AERIO',
       'TRIBECA', 'ACTYON SPORTS', 'VELOSTER', 'AURIS', 'SPRINTER',
       'JOHN COOPER WORKS', 'DS-3', 'A45 AMG', 'RSQ3', '1M',
       '135i Cabriolet', 'SUNRAY', 'COUNTRYMAN COOPER JCW', 'C70',
       'ACTYON', 'SANDERO', 'H7L', 'ONIX ACTIV', '328-I',
       'A7 SPORTBACK HB', 'ARGO', 'TT', 'TRANSPORTER', 'DAMAS', 'REFINE',
       'AVEO', '911 TURBO-S', 'T600', 'A8', 'RIDGELINE', 'FREELANDER',
       'WINGLE 5', 'MATRIX', 'GOL COMFORT 1.6', '128TI', 'SPACE FOX',
       'IBIZA STYLE', 'HAIMA3', 'OTROS', 'C3 Aircross', 'ZS', 'BORA',
       'VIGUS', '340i', 'NAVARA', 'CRONOS', 'C-240', 'GHIBLI', 'TERIOS',
       nan, 'FJ CRUISER', 'GLORY', 'GRAND CARAVAN', 'M3 SedÃ¡n',
       'CORONET', 'DZIRE', 'RANGE ROVER', '1600', 'ARRIZO 3',
       'CIVIC TURBO', 'PRIORA', '418i', 'LIBERTY SPORT', 'AD',
       'VANTAGE V8', 'GLK 250', 'GC7', 'SIENNA', 'LIBERTY',
       'GRAND TURISMO', 'MG3', 'BOARDING', 'Jumpy', '207', 'MIRAGE', 'ZX',
       'UP', 'FLUENCE', 'CK', 'X2 M35i', 'RODIUS', 'GS', 'SAIL', 'LANCER',
       'RS3', 'GLA 45 AMG', 'E-TRON', 'TERRACAN', 'X7 40i',
       'COUNTRYMAN JCW', 'NEW XV', '330E', 'GS 350 F-SPORT', 'SPEED3',
       'VIEW', 'MUSTANG MACH 1', 'SOUL', '207 COMPACT', '135i', 'UNO',
       'L200 DK-R', 'RANGER RAPTOR', 'MARCH', 'G37', 'X6',
       'MIRAGE HATCHBACK', 'CLA 200 COUPE', 'N-300', 'LINEA', 'X6 40i',
       'CARNIVAL', 'EQUINOX', 'CLK-430', 'CHEROKEE', 'VERSA DRIVE',
       'QUATTROPORTE', '570S', 'X5 M', 'PATROL', 'C63 AMG S', 'VICTORIA',
       'M2 Coupe', 'GR YARIS', 'MP4-12C', 'A', 'PANAMERA-4S', 'TUNDRA',
       'LX 570 PLUS', 'CS35', 'MONTERO IO', 'ALMERA', 'ALL NEW L200',
       'EMGRANDEC7', 'URBAN CRUISER', 'CLIO', 'AZKARRA', 'CORVAIR', '406',
       '911 CARRERA', 'CELICA', 'CIELO', 'H100', 'SILVIA', 'SUNNY',
       'JUKE', 'NEW TIGGO 7', 'CIVIC COUPE', 'PALIO ADVENTURE', 'SX5',
       'FREEDOM - 8 asientos', '325', '325-iA', 'S40', '323', 'BB',
       'F-150 RAPTOR', 'K60', 'GALANT', 'MIRAGE G4', 'NEW TIGGO 2',
       'NEW BEETLE', 'VAN PX', 'BEAT', 'H350', 'URVAN', '430I COUPE',
       'SONIC', '750 Li', '1300', '3XROSS', 'NEW ALTO 800',
       'ALL NEW LEGACY', 'MARINER', '325i', 'V3', '121', 'LEON CUPRA',
       'INCAPOWER EIGHT', 'GRAND i10 HB', 'TIBURON', 'NX 200T F-SPORT',
       'REXTON-II', '10', '535-I', 'X5 44i', 'XC-70', 'FREESTYLE',
       'CHEROKEE TRAILHAWK', 'NEW QQ', 'CHEROKEE LAREDO', 'NOTE', 'H1',
       'SCORPIO', 'MG5', 'COBALT', 'GROOVE', 'POLO', '206',
       'A1 SPORTBACK', 'MATIZ', 'S500', 'MK', 'N300 MAX', 'F3',
       'SWIFT GTI', 'NX 200T', 'A5', 'EC7', 'FOCUS', '88', 'MONZA',
       '740i', 'LIBERO', 'PUNTO', 'UNO WAY', 'POER', 'SYMBOL', 'H530',
       'ERTIGA', 'IGNIS', 'MK RSI', 'Q22', 'DX3', 'ALL NEW JOY', 'DEER',
       'FREESTAR', '240', 'AZERA', 'CHARADE SOCIAL', 'SONATA', '460',
       'DAMAS II', 'ESCORT', 'SUPERVAN', 'ALTO', 'SOLIO', 'EXCURSION',
       'CRUZE HB', 'HAVAL', 'VENTO', 'GOL CROSSOVER', 'S30 ELEGANT MT',
       'MASTER', 'SPRINTER CARIB', 'ATECA', '523-IA', 'FULWIN', 'Q2',
       'CIVIC SI', 'ESCARABAJO', 'CHEROKEE SPORT', 'A5 SPORTBACK',
       'E-200 KOMPRESSOR', 'KOUP', '520', 'SCOUT', 'KONECT', '525i',
       'PIK UP', '530d', 'BLUEBIRD', 'TURISTICO 10.5 MTS', 'SPIN ACTIVE',
       'ALL NEW KORANDO', 'RIO CROSS', 'CALIBER', 'ORTHIA', 'FALCON',
       'ALASKAN', 'OPTRA', 'WRANGLER', 'GOL STATION', 'F-100', '18',
       'MUSSO', 'X55', 'ARENDA', 'GS8', '307', '306', 'GV-PLUS', 'IBIZA',
       'WINDSTAR', 'DEMIO', 'SWIFT SPORT', 'TEMPEST', 'HOVER', 'QUORIS',
       'GLC 250 4MATIC COUPE', 'N200', 'GS 350', '3 SEDÃ\x81N',
       'VOLEEX C30', 'STYLUS', '508', 'Grand New Supervan', 'PASSAT CC',
       '3 PUERTAS', 'MOCHE II', 'C-5', 'MOBI', '320', 'N300 MOVE',
       'TUNLAND', 'AX7', 'GLORY 330', 'K2400', 'CORSA', '328i', 'AVEO HB',
       'INTEGRA', 'SPARK', 'REXTON', 'CADDY', 'STAVIC', 'H2L', 'CUTLASS',
       'MUSTANG GT', '911 GT3', 'GENESIS', 'EQ6400LF', 'QQ', 'AMAZON'],
      dtype=object)

### Transmission

Create

In [9]:
neoauto['Transmission'] = neoauto['Transmission'].map({'MecÃ¡nica': 'mecanica',
                                                       'AutomÃ¡tica': 'automatica',
                                                       'AutomÃ¡tica - Secuencial': 'automatica_secuencial'})

Validate

In [10]:
neoauto['Transmission'].value_counts()

Transmission
automatica_secuencial    2179
mecanica                 1619
automatica               1563
Name: count, dtype: int64

### Version

Create

In [11]:
prem_pattern = r'\b(?:lx|lux|deluxe|l|ltz|sel|ex-l|sl|xle|sxl|plat|prem|luxury|el|ul|g|signature|diamond|elite|luxe)\b'

neoauto['Version'] = np.select([neoauto['Version'].str.lower().str.strip().str.contains('4x2', na = False),
                                neoauto['Version'].str.lower().str.strip().str.contains('4x4', na = False),
                                neoauto['Version'].str.lower().str.strip().str.contains('delantera', na = False),
                                neoauto['Version'].str.lower().str.strip().str.contains('posterior', na = False),
                                neoauto['Version'].str.lower().str.strip().str.contains(prem_pattern, regex = True, na = False)],
                               ['4x2', '4x4', 'delantera', 'posterior', 'premium'],
                               default = 'otros')

Validate

In [12]:
neoauto['Version'].value_counts()

Version
4x2          1919
otros        1753
4x4           896
delantera     469
posterior     222
premium       103
Name: count, dtype: int64

### Upholstery

Create

In [13]:
neoauto['Upholstery'] = np.where(neoauto['Upholstery'] == 'Asientos de cuero', 'cuero', neoauto['Upholstery'])

Validate

In [14]:
neoauto['Upholstery'].value_counts()

Upholstery
tela     4125
cuero    1236
Name: count, dtype: int64

### Color

Create

In [15]:
neoauto['Color'] = neoauto['Color'].astype(str)

def extract_base_color(color):
    # Definir patrones de regex para los colores base
    patterns = {
        'blanco': r'^Blanco',
        'plata': r'^Plata',
        'gris': r'^Gris',
        'rojo': r'^Rojo',
        'azul': r'^Azul',
        'negro': r'^Negro',
        'marron': r'^(Marrón|Chocolate|Beige)',
    }
    
    for base_color, pattern in patterns.items():
        if pd.Series(color).str.contains(pattern,  na = False).any():
            return base_color
    
    return 'otros'

neoauto['Color'] = neoauto['Color'].apply(extract_base_color)

Validate

In [16]:
neoauto['Color'].value_counts()

Color
gris      1119
blanco     931
negro      838
otros      810
plata      555
rojo       532
azul       507
marron      70
Name: count, dtype: int64

### Location

Create

In [17]:
neoauto['Location'] = neoauto['Location'].str.split(',', expand = True).iloc[:, 1].str.strip()

In [18]:
neoauto['Location'] = np.where(neoauto['Location'] != 'Lima', 'Provincias', neoauto['Location'])

Validate

In [19]:
neoauto['Location'].value_counts()

Location
Lima          4926
Provincias     436
Name: count, dtype: int64

### Fuel_type

Create

In [20]:
neoauto['Fuel_type'] = neoauto['Fuel_type'].map({'Gasolina': 'gasolina',
                                                 'Gas GLP': 'gas_glp',
                                                 'Diesel': 'diesel',
                                                 'Dual': 'dual',
                                                 'Gas GNV': 'gas_gnv',
                                                 'Gasolina-HÃ­brido': 'otros',
                                                 'ElÃ©ctrico': 'electrico'})

Validate

In [21]:
neoauto['Fuel_type'].value_counts()

Fuel_type
gasolina     4123
dual          441
diesel        423
gas_glp       148
gas_gnv        76
otros          69
electrico      12
Name: count, dtype: int64

## Feature Engineering

In [22]:
neoauto['Age'] = CURRENT_YEAR - neoauto['Year']

Save csv

In [23]:
neoauto.to_csv('datasets/clean/neoauto_clean.csv', index = False)

# Autocosmos

Read data

In [24]:
autocosmos = pd.read_csv('datasets/raw/autocosmos.csv')
print(autocosmos.shape)
autocosmos.head()

(1576, 15)

,Brands,Models,Version,Currency,Price,Urlpic,Year,KM,Fuel_type,Transmission,Location,Color,Cilinders,Upholstery,Engine
0,MG,3,1.5 Std,USD,"u$s4,800",https://acroadtrip.blob.core.windows.net/publi...,2014,85000 km,gasolina,manual 5 velocidades,Lima |Lima,Blanco,4 en lÃ­nea,tela,1498 cc
1,KIA,Cerato,1.6L EX Aut,USD,"u$s7,999",https://acroadtrip.blob.core.windows.net/publi...,2014,156000 km,gasolina,automÃ¡tica 6 velocidades,Lima |Lima,Azul Galaxia,4 en lÃ­nea,tela,1591 cc
2,Toyota,Rav4,2.0L Full 4x2,USD,"u$s8,800",https://acroadtrip.blob.core.windows.net/publi...,2018,17000 km,gasolina,manual 6 velocidades,Trujillo |La Libertad,Plata MetÃ¡lico,4 en lÃ­nea,tela,1987 cc
3,Mazda,3 Sport,2.5L High Aut,USD,"u$s5,390",https://acroadtrip.blob.core.windows.net/publi...,2015,36000 km,gasolina,automÃ¡tica 6 velocidades,La UniÃ³n |Arequipa,Rojo,4 en lÃ­nea,cuero,2497 cc
4,Ford,Territory,Titanium Plus,USD,"u$s24,900",https://acroadtrip.blob.core.windows.net/publi...,2021,29300 km,gasolina,automÃ¡tica 8 velocidades,Lima |Lima,Blanco,4 en lÃ­nea,cuero,1500 cc

In [25]:
autocosmos.Currency.value_counts()

Currency
USD    1492
PEN      84
Name: count, dtype: int64

## Clean numerical features

Create

In [26]:
autocosmos[['Price', 'Engine', 'KM', 'Cilinders']] = autocosmos[['Price', 'Engine', 'KM', 'Cilinders']].replace(to_replace = r'[^0-9]',
                                                                                                     value = '', regex = True)\
                                                                             .replace(to_replace = '', value = np.nan)\
                                                                             .astype(float)

autocosmos['Price'] = np.where(autocosmos['Currency'] == 'PEN',
                               autocosmos['Price'] * SOLES_TO_DOLLAR,
                               autocosmos['Price'])

autocosmos['Currency'] = np.where(autocosmos['Currency'] == 'PEN',
                                  'USD',
                                  autocosmos['Currency'] )

Validate

In [27]:
autocosmos[['Price', 'Engine', 'KM', 'Cilinders']].dtypes

Price        float64
Engine       float64
KM           float64
Cilinders    float64
dtype: object

Validate

## Clean categorical features

Check unique values

In [28]:
autocosmos.describe(include = object)

,Brands,Models,Version,Currency,Urlpic,Fuel_type,Transmission,Location,Color,Upholstery
count,1576,1576,1576,1576,1576,1570,1556,1576,1576,1500
unique,57,414,884,1,1574,2,46,48,98,12
top,Toyota,Sportage,1.6L,USD,https://acroadtrip.blob.core.windows.net/publi...,gasolina,manual 5 velocidades,Lima |Lima,Blanco,tela
freq,158,37,17,1576,2,1435,530,1173,260,1055

### Brands

In [29]:
autocosmos.Brands.unique()

array(['MG', 'KIA', 'Toyota', 'Mazda', 'Ford', 'Hyundai', 'BMW', 'Nissan',
       'Jeep', 'Geely', 'Honda', 'Chevrolet', 'Volkswagen', 'Foton',
       'Mercedes Benz', 'Audi', 'Fiat', 'Chery', 'Haval', 'Suzuki',
       'Jetour', 'JAC', 'Daewoo', 'Renault', 'Subaru', 'Jaguar',
       'Great Wall', 'Peugeot', 'Changan', 'DFSK', 'Mahindra',
       'Ssangyong', 'Mitsubishi', 'Dodge', 'Land Rover', 'Dongfeng',
       'KYC', 'CitroÃ«n', 'BAIC', 'Volvo', 'JMC', 'BYD', 'Mini',
       'Golden Dragon', 'ZX Auto', 'Lifan', 'Seat', 'Jinbei', 'Daihatsu',
       'RAM', 'Porsche', 'Lexus', 'Zotye', 'Brilliance', 'DS', 'Shineray',
       'Soueast'], dtype=object)

In [30]:
autocosmos['Brands'] = np.where(autocosmos['Brands'] == 'CitroÃ«n', 'Citroen', autocosmos['Brands'])
autocosmos['Brands'] = autocosmos['Brands'].str.upper()

In [31]:
autocosmos.Brands.unique()

array(['MG', 'KIA', 'TOYOTA', 'MAZDA', 'FORD', 'HYUNDAI', 'BMW', 'NISSAN',
       'JEEP', 'GEELY', 'HONDA', 'CHEVROLET', 'VOLKSWAGEN', 'FOTON',
       'MERCEDES BENZ', 'AUDI', 'FIAT', 'CHERY', 'HAVAL', 'SUZUKI',
       'JETOUR', 'JAC', 'DAEWOO', 'RENAULT', 'SUBARU', 'JAGUAR',
       'GREAT WALL', 'PEUGEOT', 'CHANGAN', 'DFSK', 'MAHINDRA',
       'SSANGYONG', 'MITSUBISHI', 'DODGE', 'LAND ROVER', 'DONGFENG',
       'KYC', 'CITROEN', 'BAIC', 'VOLVO', 'JMC', 'BYD', 'MINI',
       'GOLDEN DRAGON', 'ZX AUTO', 'LIFAN', 'SEAT', 'JINBEI', 'DAIHATSU',
       'RAM', 'PORSCHE', 'LEXUS', 'ZOTYE', 'BRILLIANCE', 'DS', 'SHINERAY',
       'SOUEAST'], dtype=object)

### Models

In [32]:
def clean_text(text):
    if isinstance(text, str):
        replacements = {
            'Ã¡': 'á',
            'Ã©': 'é',
            'Ã­': 'í',
            'Ã³': 'ó',
            'Ãº': 'ú',
            'Ã±': 'ñ',
            'â€™': '’',
            'â€œ': '“',
            'â€': '”'
        }
        for wrong, correct in replacements.items():
            text = text.replace(wrong, correct)
    return text

autocosmos['Models'] = autocosmos['Models'].apply(clean_text)
autocosmos['Models'] = autocosmos['Models'].str.upper()

In [33]:
autocosmos.Models.unique()

array(['3', 'CERATO', 'RAV4', '3 SPORT', 'TERRITORY', 'I10', 'SONATA',
       'SERIE 4 GRAN COUPÉ', 'VERSA', 'CAMRY', 'COMPASS', 'OKAVANGO',
       'PATRIOT', '3 SEDÁN', 'CIVIC', 'PRISMA', 'KICKS', 'RIO HATCHBACK',
       'GRAND CHEROKEE', 'SENTRA', 'CROSSFOX', 'COROLLA CROSS', 'COROLLA',
       'TUNLAND', 'GOL', 'CLASE C', 'GOLF', 'SERIE 3', 'A4', 'N300 MAX',
       'UNO WAY', 'AVANZA', 'TIGGO 2 PRO', 'H2', 'SOLUTO', 'APV',
       'TUCSON', 'X70', 'SONET', 'RIO CROSS', 'REFINE', 'DAMAS VAN',
       'RIO', 'POLO', 'HILUX', 'YARIS SEDÁN', 'ECOSPORT', 'CELERIO',
       'DUSTER', 'JUKE', 'CLASE A', 'TIGGO 7 PRO', 'IMPREZA SEDÁN',
       'F-TYPE', 'X-TRAIL', 'H3', '207', 'FORESTER', 'HR-V',
       'GRAND NOMADE', 'FUSION', 'RUSH', 'CS35 PLUS', 'GRAND VITARA',
       '500', 'SPORTAGE', '6 SEDÁN', 'ELANTRA', 'PASSAT CC', 'EXPLORER',
       'BORA', 'H1 VAN', 'PIK UP', 'NIVUS', 'KWID', 'TIGUAN', 'XV',
       'KORANDO', 'SORENTO', 'BT-50', 'J4', 'KOLEOS', 'ASX', 'LANCER',
       'CX-9', 'DART', 'TIGGO 8 PRO', 'RANGE ROVER SPORT', 'DUSTER OROCH',
       'ONIX SEDAN', 'N400 MOVE', 'S500', 'X5 CARGO BOX', 'BERLINGO',
       'OUTLANDER', 'JS8', 'TRAVERSE', 'H6', 'ZX PLUS',
       'CLASE CLK (COUPE)', 'IMPREZA', 'X35', 'MARCH', 'PRIMERA',
       'CRUZE HATCHBACK', 'RANGER', 'I20 ACTIVE', 'JOY BLACK SEDÁN',
       'LOGAN', 'CX-3', 'FORTUNER', 'S3', '460 GLT', 'X1',
       'LAND CRUISER PRADO', 'TIGGO 2', 'CAPTIVA', 'VAN', 'PARTNER',
       'GÉNESIS COUPÉ', 'VIGUS', 'EVOLTIS', 'ACCENT', 'CX-5',
       'IMPREZA SPORT', '301', 'SANTA FE', 'HONOR S', 'PICANTO CROSS',
       'CLASE GLA', 'AMAROK', 'CX-30', 'XPANDER', 'BALENO', 'SX4',
       'GOL SEDÁN', 'V5 MINIVAN', 'F3', 'MURANO', 'S60', 'PICANTO',
       'WR-V', 'SWIFT', 'JETTA', 'CK', 'ETIOS', 'QASHQAI', 'AGYA',
       'CHEROKEE', 'FRONTIER', 'YARIS HATCHBACK', 'TICO', 'XC40', 'L200',
       'MIRAGE G4', 'C4', 'F-350', 'JIMNY', 'H-100', 'STARLET',
       'COOPER COUNTRYMAN', 'L200 DK-R', 'OPTIMA', 'CRUZE SEDÁN',
       'JOURNEY', 'ESCORT (SEDAN)', 'UP!', 'SPARK GT', 'GRAND I10 HATCH',
       'LAND CRUISER', 'CC', 'CS15', 'CX70', 'COOPER', 'ERTIGA',
       '2 SEDÁN', 'EXPEDITION', 'PICKUP', 'SPACEFOX', 'XC90',
       'PATHFINDER', 'ACCORD', 'LATINA', 'Q22L', 'TRACKER', 'TIGGO 8',
       'GRAND CHEROKEE L', 'NAVARA', 'WINGLE 7', 'CORONA', 'ACTYON',
       'JOY BLACK', 'VIEW', 'CLASE CLA', '208', 'NATIVA', 'TIGGO 3',
       'JOLION', 'F-150', 'CR-V', 'URBAN ARK', 'TIGGO 4 PRO',
       'TIIDA SEDÁN', 'T8', 'CLASE S', 'C3', 'SERIE 5', 'RENEGADE', 'A6',
       'XC60', 'EQUINOX', 'BEETLE', 'AD', 'AVENSIS', 'L300', 'SELTOS',
       'ESCAPE', 'AVEO SEDÁN', 'SAUVANA', 'GRAND I10 SEDAN', 'TRAVELLER',
       'N300 MOVE', 'SOUL', 'TRACKER TURBO', 'FLUENCE', 'LEGACY',
       '207 COMPACT', 'XE', 'HAN EV', 'SONIC', 'DURANGO', 'ACCENT SEDÁN',
       'EMGRAND 7', '86', 'SX5', 'ZX', 'VERNA', 'UNO', 'KOMBI',
       'CARRYING', 'VOLEEX C30', 'URBAN CRUISER', 'GX3', 'SERIE 1 COUPÉ',
       'T-CROSS', 'TIGGO', 'TAHOE', 'FIORINO', 'FIERA', 'CITY', 'STEPWAY',
       '244', 'S-CROSS', 'MASTER MINIBUS', 'SERIE 1', 'Q5', 'SAFE',
       'DISCOVERY SPORT', 'ALMERA', 'VIVANT', 'MUSTANG', 'COPPER S',
       'AZKARRA', 'VIRTUS', 'GC7', 'VITARA', 'A3 SEDÁN', 'CIAZ',
       'COROLLA (SW)', 'FASTBACK', 'CRETA', 'TRUCK', 'IBIZA', 'BALENO 4P',
       'KONECT', 'MOBI', 'TERIOS CITY', 'Z4', 'SPIN ACTIV',
       'MONTERO SPORT', 'DZIRE', 'ECLIPSE CROSS', 'TRIBECA', '2 SPORT',
       '3008', 'ACCENT GNV ECO CAR', '5', 'WRX', 'J6', 'I20', 'AMAROK V6',
       'GRAND S3', 'V700', 'MEGANE', 'TOWNER', 'CAYENNE GTS', 'PASSAT',
       'COROLLA HATCHBACK', 'PICK UP', 'ACTYON SPORTS', 'REXTON DIESEL',
       'CERATO KOUP', 'MIRAGE', 'SX4 SEDÁN', 'K60', '323',
       'NP300 FRONTIER', 'CELICA', 'PATROL', 'S PRESSO', 'GRAND SANTA FE',
       'GS', 'TIVOLI', 'LEGACY SEDÁN', 'TIGGO 4', 'ZS', '407', '580',
       'J2', 'S2', 'GLB', 'HB', 'LANDTREK', 'ESCORT (SW)', 'T600',
       'GLORY', 'FUSO', 'MONTERO', 'VENUE', 'NITRO', '4000', 'DISCOVERY',
       'DEER', 'WRANGLER', 'SWIFT SEDÁN', 'COOLRAY', 'POLO SEDÁN',
       'SPRINTER', 'TIGGO 5', 'VELOSTER', 'CAYENNE S', 'X55', 'RODIUS',
       'EON', 'S5', 'V3', 'KYRON', 'STAVIC', 'SEDAN', 'TOUAREG', 'S40',
       '560', 'H5', '350Z', 'MOHAVE', 'SAVEIRO', 'CS55', '4', 'ATOS',
       'IS', 'JETTA GLI', 'JS3', 'GRAND SUPER VAN', 'LEON', 'Q22',
       'F300S', 'OUTBACK', '5008', 'BIPPER', 'CADENZA', 'SWIFT HYBRID',
       'GRATOUR PX', 'VELAR', 'ANDINA', 'WINGLE', 'DX3', 'TERRANO II',
       'CS75', 'MUSSO GRAND', 'TRANSPORTER', 'X5', 'SAIL', 'C3 AIRCROSS',
       'C-ELYSÉE', 'BRONCO SPORT', 'A3', 'M3 SEDÁN', 'INTEGRA', 'GROOVE',
       'A5', 'X2', 'OPTRA', 'COLORADO', 'NUBIRA II SEDAN', 'EDGE', 'FIT',
       'XANTIA', 'A3 SPORTBACK', 'TRAILBLAZER', 'TERRACAN',
       'XSARA PICASSO', 'RACER', 'STRADA WORKING', 'X3', 'ARGO',
       'PALIO ADVENTURE', 'FIESTA', 'H1 MINIBUS', 'SPIN', 'AVEO', 'CIELO',
       'PILOT', 'ONIX', 'C4 CACTUS'], dtype=object)

### Transmission

Clean

In [34]:
autocosmos['Transmission'] = autocosmos['Transmission'].apply(clean_text)

Create

In [35]:
autocosmos['Transmission'] = np.select([autocosmos['Transmission'].str.lower().str.strip().str.contains(r'\b(automática.*manual|manual.*automática)\b', 
                                                                                                          regex = True, na = False),
                                        autocosmos['Transmission'].str.lower().str.strip().str.contains('manual', na = False),
                                        autocosmos['Transmission'].str.lower().str.strip().str.contains('automática', na = False)],
                                        ['automatica_secuencial', 'mecanica', 'automatica'],
                                        default = 'otros')

Validate

In [36]:
autocosmos['Transmission'].value_counts()

Transmission
mecanica                 912
automatica               527
otros                    110
automatica_secuencial     27
Name: count, dtype: int64

### Version

Create

In [37]:
prem_pattern = r'\b(?:lx|lux|deluxe|l|ltz|sel|ex-l|sl|xle|sxl|plat|prem|luxury|el|ul|g|signature|diamond|elite|luxe|limited|high|awd|titanium)\b'

autocosmos['Version'] = np.select([autocosmos['Version'].str.lower().str.strip().str.contains(prem_pattern, regex = True, na = False),
                                   autocosmos['Version'].str.lower().str.strip().str.contains('4x2', na = False),
                                   autocosmos['Version'].str.lower().str.strip().str.contains('4x4', na = False),
                                   autocosmos['Version'].str.lower().str.strip().str.contains('delantera', na = False),
                                   autocosmos['Version'].str.lower().str.strip().str.contains('posterior', na = False)],
                                  ['premium', '4x2', '4x4', 'delantera', 'posterior'],
                                  default = 'otros')

Validate

In [38]:
autocosmos['Version'].value_counts()

Version
otros      1079
premium     248
4x2         126
4x4         123
Name: count, dtype: int64

### Upholstery

Create

In [39]:
both_pattern = r'\b(?:tela.*cuero|cuero.*tela)\b'
autocosmos['Upholstery'] = np.select([autocosmos['Upholstery'].str.lower().str.strip().str.contains(both_pattern, regex = True, na = False),
                                      autocosmos['Upholstery'].str.lower().str.strip().str.contains('tela', na = False),
                                      autocosmos['Upholstery'].str.lower().str.strip().str.contains('cuero', na = False)],
                                     ['tela_cuero', 'tela', 'cuero'],
                                     default = 'otros')

Validate

In [40]:
autocosmos['Upholstery'].value_counts()

Upholstery
tela          1059
cuero          346
otros          129
tela_cuero      42
Name: count, dtype: int64

### Color

Create

In [41]:
autocosmos['Color'] = autocosmos['Color'].astype(str)

def extract_base_color(color):
    # Definir patrones de regex para los colores base
    patterns = {
        'blanco': r'^Blanco',
        'plata': r'^Plata',
        'gris': r'^Gris',
        'rojo': r'^Rojo',
        'azul': r'^Azul',
        'negro': r'^Negro',
        'marron': r'^(Marrón|Chocolate|Beige)',
    }
    
    for base_color, pattern in patterns.items():
        if pd.Series(color).str.contains(pattern,  na = False).any():
            return base_color
    
    return 'otros'

autocosmos['Color'] = autocosmos['Color'].apply(extract_base_color)

Validate

In [42]:
autocosmos['Color'].value_counts()

Color
gris      322
blanco    284
negro     269
plata     235
rojo      192
azul      159
otros     103
marron     12
Name: count, dtype: int64

### Location

Create

In [43]:
autocosmos['Location'] = autocosmos['Location'].str.split('|', expand = True).iloc[:, 1].str.strip()

In [44]:
autocosmos['Location'] = np.where(autocosmos['Location'] != 'Lima', 'Provincias', autocosmos['Location'])

Validate

In [45]:
autocosmos['Location'].value_counts()

Location
Lima          1186
Provincias     390
Name: count, dtype: int64

### Fuel_type

Create

In [46]:
"""
Nothing to do
"""

'\nNothing to do\n'

Validate

In [47]:
autocosmos['Fuel_type'].value_counts()

Fuel_type
gasolina    1435
diesel       135
Name: count, dtype: int64

## Feature Engineering

In [48]:
autocosmos['Age'] = CURRENT_YEAR - autocosmos['Year']

Save csv

In [49]:
autocosmos.to_csv('datasets/clean/autocosmos_clean.csv', index = False)

# Both Sources

In [50]:
# read both dataframes
neoauto = pd.read_csv('datasets/clean/neoauto_clean.csv')
autocosmos = pd.read_csv('datasets/clean/autocosmos_clean.csv')\
               .rename(columns = {'Cilinders': 'Cilinder'})

# get intersected columns
unique_columns = sorted(list(set(neoauto.columns.tolist()).intersection(set(autocosmos.columns.tolist()))))

# concatenate data
data = pd.concat([neoauto[unique_columns], autocosmos[unique_columns]], axis = 0, ignore_index = True)

# save dataframe
data.to_csv('datasets/clean/data.csv', index = False)

In [51]:
data.head()

,Age,Brands,Cilinder,Color,Currency,Engine,Fuel_type,KM,Location,Models,Price,Transmission,Upholstery,Urlpic,Version,Year
0,1.0,SUZUKI,3.0,rojo,USD,1000.0,gasolina,16684.0,Lima,S-PRESSO,9800.0,mecanica,tela,https://cde.neoauto.pe/autos_usados/360x240/66...,4x2,2023.0
1,1.0,DFSK,4.0,blanco,USD,1500.0,gas_glp,11054.0,Lima,GLORY 500,12000.0,mecanica,tela,https://cde.neoauto.pe/autos_usados/360x240/70...,delantera,2023.0
2,1.0,TOYOTA,4.0,rojo,USD,1300.0,gas_gnv,15500.0,Lima,YARIS,15500.0,mecanica,tela,https://cde.neoauto.pe/autos_usados/360x240/70...,delantera,2023.0
3,4.0,FORD,6.0,blanco,USD,3500.0,gasolina,12500.0,Lima,RAPTOR,75900.0,automatica_secuencial,tela,https://cde.neoauto.pe/autos_usados/360x240/30...,4x4,2020.0
4,1.0,KIA,4.0,gris,USD,1999.0,gasolina,52130.0,Lima,SPORTAGE,27900.0,mecanica,cuero,https://cde.neoauto.pe/autos_usados/360x240/70...,4x2,2023.0

In [52]:
data.columns

Index(['Age', 'Brands', 'Cilinder', 'Color', 'Currency', 'Engine', 'Fuel_type',
       'KM', 'Location', 'Models', 'Price', 'Transmission', 'Upholstery',
       'Urlpic', 'Version', 'Year'],
      dtype='object')

In [53]:
for col in data.columns.tolist():
    print(data[col].unique())

[ 1.  4.  3. 10.  5.  6.  0. 12.  9.  7.  8.  2. 11. 18. 59. 13. 43. 15.
 14. 16. 26. 44. 73. 17. 41. 33. 58. 20. 23. 39. -1. 19. 32. 50. 69. 27.
 30. 21. 28. 22. 67. 24. 25. nan 48. 38. 75. 95. 64. 42. 29. 37. 47. 35.
 31. 40. 55. 36. 60. 49. 97. 45. 34.]
['SUZUKI' 'DFSK' 'TOYOTA' 'FORD' 'KIA' 'PEUGEOT' 'AUDI' 'HYUNDAI' 'NISSAN'
 'RENAULT' 'MAZDA' 'HONDA' 'JEEP' 'MITSUBISHI' 'VOLKSWAGEN'
 'MERCEDES BENZ' 'CHEVROLET' 'PORSCHE' 'SUBARU' 'GEELY' 'CITROEN' 'MINI'
 'LEXUS' 'DODGE' 'JETOUR' 'BMW' 'LAND ROVER' 'VOLVO' 'JAGUAR' 'MG'
 'SSANGYONG' 'CHERY' 'SEAT' 'JAC' 'HAVAL' 'MC LAREN' 'FIAT' 'HUDSON'
 'DONGFENG' 'MAXUS' 'MASERATI' 'CHANGAN' 'RAM' 'GAC' 'ASTON MARTIN'
 'CUPRA' 'GREAT WALL' 'BAIC YINXIANG' 'CHRYSLER' 'MORRIS GARAGES' 'SWM'
 'LAMBORGHINI' 'DAEWOO' 'ZOTYE' 'HAIMA' 'OTROS' 'JMC' 'DAIHATSU' nan
 'LADA' 'FOTON' 'INFINITI' 'DATSUN' 'CHANGHE' 'SHINERAY' 'MERCURY'
 'BRILLIANCE' 'GONOW' 'MAHINDRA' 'BYD' 'SOUEAST' 'INTERNATIONAL' 'JINBEI'
 'GOLDEN DRAGON' 'BAIC' 'BUGGY' 'YUGO' 'PONTIAC' 'ISUZU' 'VICTORY' 'ACURA'
 'OLDSMOBILE' 'KYC' 'ZX AUTO' 'LIFAN' 'DS']
[ 3.  4.  6. nan  5.  8. 10.  2.  1. 12. 14.]
['rojo' 'blanco' 'gris' 'azul' 'otros' 'negro' 'plata' 'marron']
['USD']
[1.000000e+03 1.500000e+03 1.300000e+03 3.500000e+03 1.999000e+03
 1.600000e+03 2.000000e+03          nan 2.400000e+03 3.600000e+03
 2.500000e+03 1.400000e+03 1.200000e+03 1.800000e+03 3.000000e+03
 1.998000e+03 3.400000e+03 1.796000e+03 1.199000e+03 2.755000e+03
 2.200000e+03 5.700000e+03 4.700000e+03 2.800000e+03 4.000000e+03
 1.598000e+03 1.497000e+03 2.995000e+03 1.997000e+03 1.969000e+03
 1.595000e+03 4.400000e+03 2.600000e+03 1.477000e+03 3.700000e+03
 2.477000e+03 2.497000e+03 2.387000e+03 2.000000e+01 1.498000e+03
 5.000000e+03 3.470000e+03 2.354000e+03 2.993000e+03 5.300000e+03
 1.591000e+03 3.200000e+03 2.700000e+03 2.359000e+03 2.360000e+03
 1.984000e+03 4.806000e+03 3.800000e+03 6.400000e+03 2.488000e+03
 2.800000e+01 6.100000e+03 5.500000e+03 5.400000e+03 1.395000e+03
 3.300000e+03 4.800000e+03 2.697000e+03 2.000000e+00 1.197000e+03
 1.000000e+00 2.362000e+03 1.500000e+04 6.300000e+03 3.000000e+02
 4.000000e+00 8.000000e+00 1.586000e+03 3.996000e+03 3.598000e+03
 5.200000e+03 2.997000e+03 2.000000e+02 1.589000e+03 1.989000e+03
 1.398000e+03 2.157000e+03 9.990000e+02 1.988000e+03 1.798000e+03
 2.151000e+03 2.487000e+03 1.462000e+03 2.349000e+03 2.395000e+03
 1.700000e+03 3.956000e+03 2.979000e+03 3.498000e+03 3.004000e+03
 4.395000e+03 2.998000e+03 1.499000e+03 2.400000e+01 1.373000e+03
 3.605000e+03 1.910000e+03 1.389000e+03 6.000000e+00 1.599000e+03
 1.299000e+03 1.968000e+03 3.471000e+03 1.995000e+03 3.600000e+04
 5.204000e+03 3.124597e+06 1.332000e+03 1.496000e+03 1.800000e+01
 5.210000e+03 3.860000e+03 1.781000e+03 2.300000e+03 3.456000e+03
 1.309000e+03 3.301000e+03 2.198000e+03 1.495000e+03 1.250000e+03
 1.330000e+03 1.451000e+03 3.000000e+00 1.900000e+03 1.400000e+01
 1.302000e+03 2.393000e+03 2.892000e+03 2.433000e+03 3.400000e+02
 2.694000e+03 1.596000e+03 2.776000e+03 2.498000e+03 2.494000e+03
 3.436000e+03 2.480000e+03 3.500000e+01 1.360000e+03 3.604000e+03
 3.694000e+03 1.600000e+01 5.000000e+00 2.442000e+03 1.991000e+03
 1.780000e+03 3.497000e+03 1.368000e+03 2.900000e+03 1.799000e+03
 1.600000e+04 2.967000e+03 5.663000e+03 2.356000e+03 3.630000e+03
 2.091750e+05 1.396000e+03 1.900000e+01 2.000000e+04 1.987000e+03
 1.363000e+03 2.700000e+04 6.000000e+03 9.000000e+02 2.480000e+02
 2.483000e+03 2.672000e+03 6.200000e+03 2.400000e+04 3.703000e+03
 1.200000e+01 4.600000e+03 1.934000e+03 2.771000e+03 2.974000e+03
 1.587000e+03 1.400000e+04 1.100000e+03 1.193000e+03 4.300000e+03
 5.600000e+03 4.500000e+03 1.609000e+03 1.996000e+03 2.389000e+03
 1.329000e+03 3.700000e+01 1.480000e+03 9.980000e+02 1.590000e+03
 2.009000e+03 1.800000e+04 2.982000e+03 9.730240e+05 1.975000e+03
 3.567000e+03 2.230000e+03 1.500000e+01 1.490000e+03 1.990000e+02
 8.000000e+02 7.500000e+02 2.500000e+01 2.179000e+03 1.794000e+03
 5.552000e+03 5.461000e+03 4.999000e+03 2.457000e+03 3.900000e+03
 1.593000e+03 1.747000e+03 1.599000e+05 2.476000e+03 3.796000e+03
 1.242000e+03 1.450000e+03 1.286000e+03 1.343000e+03 3.600000e+01
 4.737000e+03 2.499000e+03 1.690000e+03 1.372000e+03 1.348000e+03
 2.000726e+06 1.390000e+02 1.977000e+03 4.212810e+05 1.248000e+03
 1.845000e+03 1.999900e+04 1.086000e+03 2.300000e+01 2.696000e+03
 8.816657e+06 2.156000e+03 1.390000e+03 1.392000e+03 2.399000e+03
 1.493000e+03 6.700000e+03 3.198000e+03 1.243000e+03 3.778000e+03
 2.402000e+03 1.971000e+03 2.953000e+03 1.868000e+03 1.342000e+03
 1.298000e+03 2.398000e+03 4.664000e+03 1.584000e+03 2.237000e+03
 1.251000e+03 1.399000e+03 2.607000e+03 1.986000e+03 2.780000e+03
 1.994000e+03 2.351000e+03 1.808000e+03 9.960000e+02 1.597000e+03
 2.299000e+03 1.560000e+03 1.762000e+03 2.020000e+03 1.834000e+03
 2.665000e+03 2.438000e+03 3.726000e+03 1.488000e+03 3.342000e+03
 1.397000e+03 3.239000e+03 2.146000e+03 8.140000e+02 1.328000e+03
 3.954000e+03 2.378000e+03 1.311000e+03 2.450000e+02 2.384000e+03
 1.198000e+03]
['gasolina' 'gas_glp' 'gas_gnv' 'dual' 'diesel' 'otros' 'electrico' nan]
[16684. 11054. 15500. ... 42300. 50400.  1568.]
['Lima' 'Provincias']
['S-PRESSO' 'GLORY 500' 'YARIS' 'RAPTOR' 'SPORTAGE' '3008' 'Q5' 'ELANTRA'
 'KICKS' 'KOLEOS' 'X-TRAIL' 'CX-5' 'HR-V' '3' 'SORENTO'
 'GRAND CHEROKEE LAREDO' '3 SPORT' 'CX-9' 'OUTLANDER' 'GOL' 'VERSA' 'I20'
 'C-180' 'CR-V' 'DUSTER' 'TIGUAN ALLSPACE' 'QASHQAI' 'TRACKER' 'FRONTIER'
 'CX-3' 'MACAN S' 'TIGUAN' 'ASX' 'PILOT' 'IMPREZA' 'SPIN' 'TUCSON' '208'
 'SONET' 'I20 HB' 'GX3' 'C5 AIRCROSS' 'BALENO' 'COROLLA' 'COROLLA CROSS'
 'RAIZE' 'RUSH' 'CRETA' 'SELTOS' 'A3 SPORTBACK' 'PRIUS' 'SENTRA'
 'FORTUNER' '2' 'RANGER' 'HATCH 3DR' 'GRAND CHEROKEE LIMITED' 'IS 300'
 'MUSTANG' 'SANTA FE' 'NIVUS' 'GLE 400 4MATIC' 'C-350' 'FORESTER' 'HILUX'
 'RIO' '4RUNNER' 'JOURNEY' 'A4' 'SAVEIRO' 'X70 PLUS' 'X3 28i'
 'RANGE ROVER SPORT' 'X4 20i' 'XC-40' 'RAV4' 'PASSAT' 'A-180' '750LI'
 'GLA 200' 'XV' 'CLA 45 AMG' 'ALL NEW FORESTER' 'F-PACE' 'L200' 'EVOLTIS'
 '5' 'JETTA' 'NEW REXTON' 'TIGGO 8 PRO' 'X-3' 'HATCH JCW' 'X3 20i'
 'CONVERTIBLE' 'C-200' 'TIGGO 8' 'F-150' 'LEON STYLE 1.6 MEC' '528-I'
 'EDGE TITANIUM' 'GL 400' 'COMPASS' 'X1 18i' 'S5' 'TOUAREG' 'M4' 'TAHOE'
 'CERATO' 'TIGGO 7 PRO' 'EXPLORER' 'IS 200t' 'UX 250h' 'OUTBACK' 'T-CROSS'
 'AGYA' 'DURANGO' 'JS4' 'H6' 'HIGHLANDER' 'COOPER' 'TRAVERSE' 'CLA 200'
 'AVENSIS' 'A200' 'ESCAPE' 'COROLLA HYBRID' 'XC-90' 'CAYENNE GTS'
 'GRAND i10' 'i10' 'GRAND NOMADE' 'KWID' '650S' 'COOPER S' 'A6'
 'PATHFINDER' 'LEGACY' 'ARRIZO 5' '2008' 'NEW ASX' 'X4 M40i' '640i'
 'TERRITORY' 'RENEGADE' 'CHEROKEE LIMITED' '550i' 'GRAND CHEROKEE SRT'
 'X5 35i' 'C-250' 'GRAND CHEROKEE OVERLAND' 'X 1/9' 'PARTNER' 'WASP'
 'E200 COUPE' 'COLORADO' 'C-ELYSÃ‰E' 'ECOSPORT' 'MONTERO SPORT'
 'ALL NEW H6' 'X1 20i' 'GOLF' 'AMAROK' 'WRANGLER UNLIMITED RUBICON'
 'M235i' 'X6 30d' 'CAYENNE' 'X2 20i' 'E-350' 'DISCOVERY SPORT' 'X3 30i'
 '740LI' 'Cherokee Longitude' 'LAND CRUISER PRADO' 'E-200' 'X5 40i' 'M6'
 'X3 35i' 'VIRTUS' 'A7 SPORTBACK' 'CX-30' 'ECLIPSE CROSS' 'Q3' '316i' 'Q8'
 'S63-AMG' 'IMPREZA SPORT' 'LX 570' 'SUBURBAN' 'BOXER' 'TIVOLI' 'ODYSSEY'
 'JIMNY' 'T5 EVO' 'JETTA GLI' 'TT COUPE' 'X6 M' 'UX 250h LUXURY'
 'EXPEDITION' 'NIRO' 'GLORY 580' 'CAPTIVA' 'RX 450hL' 'GLC 200'
 'GRAND CHEROKEE' 'RANGE ROVER EVOQUE' 'CORONA' 'CIVIC' 'GLE 53 AMG'
 'CRETA GRAND' 'DS-4' 'NEW VITARA' 'STARIA' 'T60' '318' 'KORANDO' 'OROCH'
 'H-1' 'SOLUTO' 'SENTRA V16' 'BT-50' 'X5 50i' 'XC-60' 'D60' 'i30' 'ONIX'
 'ORLANDO' 'LEVANTE S GRANSPORT' 'CAYENNE TURBO' 'COOLRAY' 'GLORY 560'
 'X4' 'TAOS' 'UNIT-T' 'E-300' 'VITARA' 'GX3 PRO' 'STEPWAY' 'X5'
 'ESCAPE SE' 'S90' 'A1' 'CAPTUR' '2 SPORT' 'MG GS' 'EDGE SEL' 'S-CROSS'
 'LOGAN' 'GOL POWER' 'X-TERRA' 'LX 600' 'GOL SEDÃ\x81N' '520-i' 'X7 SPORT'
 'XPANDER' 'C55-AMG' 'GLA250 4MATIC' 'VENUE' 'ACCENT' 'GLC 250 4MATIC'
 'RANGE ROVER VELAR' 'EVOQUE' 'X70' 'TIGGO 2' 'CROSSFOX' 'DISCOVERY'
 'C-300' 'OKAVANGO' 'JUMPER' 'HILUX SR' 'VERSA SENSE' 'VERNA'
 'COMPASS SPORT' 'KIZASHI' 'RANGE ROVER VOGUE' 'HS' 'CITY TOURING'
 'GLE 63 S AMG 4MATIC COUPE' 'CLA 180 COUPE' '5 PUERTAS' 'IMPREZA WRX'
 'V700' 'CLUBMAN' 'EMZOOM' 'EMKOO' 'PATRIOT' 'AMG GT' 'DB11' 'FORMENTOR'
 'DBX' 'NX300H LUXURY' 'M440I' 'C63-AMG' 'LEVANTE TROFEO' 'ALL NEW REXTON'
 'GLC 200 COUPE' 'GLE 450 4 MATIC' 'E-500' 'CORVETTE' 'WR-V'
 'AMG GLC 43 4MATIC' 'LEVANTE' 'ACCORD' '420i' 'S60' 'GLA 180'
 'MUSSO GRAND' 'X90 PLUS' 'C-3' 'SL-280' 'X6 50i' '120i' '428i'
 'DISCOVERY 4' 'WRANGLER RUBICON' '420I GRAN COUPE' '318i' '320i' 'SWIFT'
 'MACAN GTS' 'CAYENNE S' 'MACAN' 'A3 SEDAN' 'Q7' 'R8' 'A3 HB' 'HRV'
 'DASHING' 'XPANDER CROSS' 'PALISADE' 'BRONCO SPORT' 'TIGGO 3' 'TIGGO'
 'PICANTO CROSS' 'ES 250' 'GRAND VITARA' 'XL7' 'COMMANDER' 'FIESTA'
 'FUSION' 'ALL NEW ONIX' 'ATOS' 'GLORY iX5' '118i' 'C4 Cactus' 'C31' 'WRX'
 'GLB 200' 'PULSE' 'AMG GLE53 COUPE' '1000' '700' '1500' 'HAVAL H3'
 'AVANZA' 'HIACE' 'M4 CABRIO' 'ETIOS' 'CLS 400' 'X6 35i' '721' 'IX'
 'HATCH COOPER S' '530E' 'X3' 'M340i XDRIVE' 'M135i' '530i'
 'COUNTRYMAN COOPER' '330i' '220i' '420GCI' 'HATCH 5DR' 'X2'
 '218i GRAN COUPE' 'COUNTRYMAN COOPER S' 'LAND CRUISER' 'NP300 FRONTIER'
 'x4 30i' 'RAM' 'TERAMONT' 'CX-7' 'M140i' 'X1' 'LANDTREK' '500' '407'
 'CRUZE' 'Q3 SPORTBACK' 'GLE 400 COUPE' 'JS8' 'PRISMA' 'ML 300 4MATIC'
 'VIVANT' 'MOHAVE' 'COUNTRYMAN' 'RX 350 F-SPORT' 'H2' 'T8' 'JOLION' 'CS55'
 'J6' 'C-4' 'CELERIO' 'CX70' 'APV' 'CROSSTREK' 'DARGO' 'FORESTER TURBO'
 'ONIX JOY' 'ALL NEW MAZDA 3' 'BERLINGO' 'GLE 43 AMG' 'E 200 ELEGANCE'
 'YIXUAN GS' 'H30' 'X5 30d' '307-SW' 'ARONA' 'X-5' '301' 'ML 350'
 'AMG GT S' 'KENBO S3' 'WINGROAD' 'RANGER LIMITED' 'N-300 WORK'
 'JOYEAR SX6' 'V40' 'PICANTO' 'H3' 'CIVIC LX' 'CERATO KOUP' '418i GCI'
 'GT-86' 'CHARGER' 'TIGGO 2 PRO' 'C-10' 'NATIVA' 'GL-450' 'C240' '6'
 'CORRADO' 'GT' 'GL-500' 'CAMRY' 'OPTIMA' 'TOWN & COUNTRY' 'MG 5'
 'A5 COUPE' 'MALIBU' 'CC' 'N400' 'TACOMA' 'M3' '200' 'XE' 'PICK UP'
 'NX 300h' 'C 200 COUPE' 'CIAZ' 'K07S' 'LEON FR' '5008' '435i'
 'GLB 200 STYLE' '850' 'S6' 'STRADA ADVENTURE' 'NITRO' 'RICH6' 'CAMARO'
 'CAYMAN GTS' 'KONA' 'MONTERO' 'BEETLE' 'IMPREZA SEDÃ\x81N' 'E-PACE' '360'
 'EXPERT' 'BIPPER' 'VERSA ADVANCE' 'MX 5' 'CT 200H' 'SLC-200'
 'C-180 KOMPRESSOR' 'CS15' 'S2' 'JS3' 'MX 6' 'STARLET' 'X7' 'TIIDA'
 'APV MINIVAN' 'S3 SedÃ¡n' 'RAM-1500' 'URUS' 'FIORINO' 'ML 400 CDI'
 'GOLF GTI' 'AMG A 45S 4 MATIC' 'CAYENNE TURBO S' 'CITY' 'CAYENNE COUPE'
 'S3' 'G350' '911' 'S22' 'LANCER CEDIA' 'MURANO' 'ALL NEW OUTBACK'
 'SPARK GT' 'GLADIATOR' '335i' '308' 'i20 ACTIVE' 'CLA 180'
 'GLE 450 COUPE' 'GOL CONFORT SEDAN' 'M5' 'SX-4' 'XC-70 CROSS COUNTRY'
 'ALL NEW FORESTER 2019' 'X5 30i' 'AERIO' 'TRIBECA' 'ACTYON SPORTS'
 'VELOSTER' 'AURIS' 'SPRINTER' 'JOHN COOPER WORKS' 'DS-3' 'A45 AMG' 'RSQ3'
 '1M' '135i Cabriolet' 'SUNRAY' 'COUNTRYMAN COOPER JCW' 'C70' 'ACTYON'
 'SANDERO' 'H7L' 'ONIX ACTIV' '328-I' 'A7 SPORTBACK HB' 'ARGO' 'TT'
 'TRANSPORTER' 'DAMAS' 'REFINE' 'AVEO' '911 TURBO-S' 'T600' 'A8'
 'RIDGELINE' 'FREELANDER' 'WINGLE 5' 'MATRIX' 'GOL COMFORT 1.6' '128TI'
 'SPACE FOX' 'IBIZA STYLE' 'HAIMA3' 'OTROS' 'C3 Aircross' 'ZS' 'BORA'
 'VIGUS' '340i' 'NAVARA' 'CRONOS' 'C-240' 'GHIBLI' 'TERIOS' nan
 'FJ CRUISER' 'GLORY' 'GRAND CARAVAN' 'M3 SedÃ¡n' 'CORONET' 'DZIRE'
 'RANGE ROVER' '1600' 'ARRIZO 3' 'CIVIC TURBO' 'PRIORA' '418i'
 'LIBERTY SPORT' 'AD' 'VANTAGE V8' 'GLK 250' 'GC7' 'SIENNA' 'LIBERTY'
 'GRAND TURISMO' 'MG3' 'BOARDING' 'Jumpy' '207' 'MIRAGE' 'ZX' 'UP'
 'FLUENCE' 'CK' 'X2 M35i' 'RODIUS' 'GS' 'SAIL' 'LANCER' 'RS3' 'GLA 45 AMG'
 'E-TRON' 'TERRACAN' 'X7 40i' 'COUNTRYMAN JCW' 'NEW XV' '330E'
 'GS 350 F-SPORT' 'SPEED3' 'VIEW' 'MUSTANG MACH 1' 'SOUL' '207 COMPACT'
 '135i' 'UNO' 'L200 DK-R' 'RANGER RAPTOR' 'MARCH' 'G37' 'X6'
 'MIRAGE HATCHBACK' 'CLA 200 COUPE' 'N-300' 'LINEA' 'X6 40i' 'CARNIVAL'
 'EQUINOX' 'CLK-430' 'CHEROKEE' 'VERSA DRIVE' 'QUATTROPORTE' '570S' 'X5 M'
 'PATROL' 'C63 AMG S' 'VICTORIA' 'M2 Coupe' 'GR YARIS' 'MP4-12C' 'A'
 'PANAMERA-4S' 'TUNDRA' 'LX 570 PLUS' 'CS35' 'MONTERO IO' 'ALMERA'
 'ALL NEW L200' 'EMGRANDEC7' 'URBAN CRUISER' 'CLIO' 'AZKARRA' 'CORVAIR'
 '406' '911 CARRERA' 'CELICA' 'CIELO' 'H100' 'SILVIA' 'SUNNY' 'JUKE'
 'NEW TIGGO 7' 'CIVIC COUPE' 'PALIO ADVENTURE' 'SX5'
 'FREEDOM - 8 asientos' '325' '325-iA' 'S40' '323' 'BB' 'F-150 RAPTOR'
 'K60' 'GALANT' 'MIRAGE G4' 'NEW TIGGO 2' 'NEW BEETLE' 'VAN PX' 'BEAT'
 'H350' 'URVAN' '430I COUPE' 'SONIC' '750 Li' '1300' '3XROSS'
 'NEW ALTO 800' 'ALL NEW LEGACY' 'MARINER' '325i' 'V3' '121' 'LEON CUPRA'
 'INCAPOWER EIGHT' 'GRAND i10 HB' 'TIBURON' 'NX 200T F-SPORT' 'REXTON-II'
 '10' '535-I' 'X5 44i' 'XC-70' 'FREESTYLE' 'CHEROKEE TRAILHAWK' 'NEW QQ'
 'CHEROKEE LAREDO' 'NOTE' 'H1' 'SCORPIO' 'MG5' 'COBALT' 'GROOVE' 'POLO'
 '206' 'A1 SPORTBACK' 'MATIZ' 'S500' 'MK' 'N300 MAX' 'F3' 'SWIFT GTI'
 'NX 200T' 'A5' 'EC7' 'FOCUS' '88' 'MONZA' '740i' 'LIBERO' 'PUNTO'
 'UNO WAY' 'POER' 'SYMBOL' 'H530' 'ERTIGA' 'IGNIS' 'MK RSI' 'Q22' 'DX3'
 'ALL NEW JOY' 'DEER' 'FREESTAR' '240' 'AZERA' 'CHARADE SOCIAL' 'SONATA'
 '460' 'DAMAS II' 'ESCORT' 'SUPERVAN' 'ALTO' 'SOLIO' 'EXCURSION'
 'CRUZE HB' 'HAVAL' 'VENTO' 'GOL CROSSOVER' 'S30 ELEGANT MT' 'MASTER'
 'SPRINTER CARIB' 'ATECA' '523-IA' 'FULWIN' 'Q2' 'CIVIC SI' 'ESCARABAJO'
 'CHEROKEE SPORT' 'A5 SPORTBACK' 'E-200 KOMPRESSOR' 'KOUP' '520' 'SCOUT'
 'KONECT' '525i' 'PIK UP' '530d' 'BLUEBIRD' 'TURISTICO 10.5 MTS'
 'SPIN ACTIVE' 'ALL NEW KORANDO' 'RIO CROSS' 'CALIBER' 'ORTHIA' 'FALCON'
 'ALASKAN' 'OPTRA' 'WRANGLER' 'GOL STATION' 'F-100' '18' 'MUSSO' 'X55'
 'ARENDA' 'GS8' '307' '306' 'GV-PLUS' 'IBIZA' 'WINDSTAR' 'DEMIO'
 'SWIFT SPORT' 'TEMPEST' 'HOVER' 'QUORIS' 'GLC 250 4MATIC COUPE' 'N200'
 'GS 350' '3 SEDÃ\x81N' 'VOLEEX C30' 'STYLUS' '508' 'Grand New Supervan'
 'PASSAT CC' '3 PUERTAS' 'MOCHE II' 'C-5' 'MOBI' '320' 'N300 MOVE'
 'TUNLAND' 'AX7' 'GLORY 330' 'K2400' 'CORSA' '328i' 'AVEO HB' 'INTEGRA'
 'SPARK' 'REXTON' 'CADDY' 'STAVIC' 'H2L' 'CUTLASS' 'MUSTANG GT' '911 GT3'
 'GENESIS' 'EQ6400LF' 'QQ' 'AMAZON' 'I10' 'SERIE 4 GRAN COUPÉ' '3 SEDÁN'
 'RIO HATCHBACK' 'CLASE C' 'SERIE 3' 'DAMAS VAN' 'YARIS SEDÁN' 'CLASE A'
 'IMPREZA SEDÁN' 'F-TYPE' 'CS35 PLUS' '6 SEDÁN' 'H1 VAN' 'J4' 'DART'
 'DUSTER OROCH' 'ONIX SEDAN' 'N400 MOVE' 'X5 CARGO BOX' 'ZX PLUS'
 'CLASE CLK (COUPE)' 'X35' 'PRIMERA' 'CRUZE HATCHBACK' 'I20 ACTIVE'
 'JOY BLACK SEDÁN' '460 GLT' 'VAN' 'GÉNESIS COUPÉ' 'HONOR S' 'CLASE GLA'
 'SX4' 'GOL SEDÁN' 'V5 MINIVAN' 'YARIS HATCHBACK' 'TICO' 'XC40' 'C4'
 'F-350' 'H-100' 'COOPER COUNTRYMAN' 'CRUZE SEDÁN' 'ESCORT (SEDAN)' 'UP!'
 'GRAND I10 HATCH' '2 SEDÁN' 'PICKUP' 'SPACEFOX' 'XC90' 'LATINA' 'Q22L'
 'GRAND CHEROKEE L' 'WINGLE 7' 'JOY BLACK' 'CLASE CLA' 'URBAN ARK'
 'TIGGO 4 PRO' 'TIIDA SEDÁN' 'CLASE S' 'C3' 'SERIE 5' 'XC60' 'L300'
 'AVEO SEDÁN' 'SAUVANA' 'GRAND I10 SEDAN' 'TRAVELLER' 'TRACKER TURBO'
 'HAN EV' 'ACCENT SEDÁN' 'EMGRAND 7' '86' 'KOMBI' 'CARRYING'
 'SERIE 1 COUPÉ' 'FIERA' '244' 'MASTER MINIBUS' 'SERIE 1' 'SAFE'
 'COPPER S' 'A3 SEDÁN' 'COROLLA (SW)' 'FASTBACK' 'TRUCK' 'BALENO 4P'
 'TERIOS CITY' 'Z4' 'SPIN ACTIV' 'ACCENT GNV ECO CAR' 'AMAROK V6'
 'GRAND S3' 'MEGANE' 'TOWNER' 'COROLLA HATCHBACK' 'REXTON DIESEL'
 'SX4 SEDÁN' 'S PRESSO' 'GRAND SANTA FE' 'LEGACY SEDÁN' 'TIGGO 4' '580'
 'J2' 'GLB' 'HB' 'ESCORT (SW)' 'FUSO' '4000' 'SWIFT SEDÁN' 'POLO SEDÁN'
 'TIGGO 5' 'EON' 'KYRON' 'SEDAN' '560' 'H5' '350Z' '4' 'IS'
 'GRAND SUPER VAN' 'LEON' 'F300S' 'CADENZA' 'SWIFT HYBRID' 'GRATOUR PX'
 'VELAR' 'ANDINA' 'WINGLE' 'TERRANO II' 'CS75' 'C3 AIRCROSS' 'C-ELYSÉE'
 'A3' 'M3 SEDÁN' 'NUBIRA II SEDAN' 'EDGE' 'FIT' 'XANTIA' 'TRAILBLAZER'
 'XSARA PICASSO' 'RACER' 'STRADA WORKING' 'H1 MINIBUS' 'C4 CACTUS']
[9.80000000e+03 1.20000000e+04 1.55000000e+04 7.59000000e+04
 2.79000000e+04 2.87500000e+04 4.49000000e+04 1.89950000e+04
 2.09900000e+04 1.09850000e+04 1.79900000e+04 2.05000000e+04
 2.29900000e+04 2.90000000e+04 1.39850000e+04 7.99900000e+03
 1.32000000e+04 1.95000000e+04 2.10000000e+04 4.65000000e+04
 1.65000000e+04 9.00000000e+03 1.40000000e+04 1.25000000e+04
 1.75000000e+04 2.95000000e+04 8.50000000e+03 2.35000000e+04
 1.60000000e+04 1.35000000e+04 1.59000000e+04 3.50000000e+04
 9.70000000e+03 1.38000000e+04 2.65000000e+04 1.19000000e+04
 1.17000000e+04 1.69000000e+04 2.40000000e+04 3.49000000e+04
 1.80000000e+04 9.90000000e+03 1.90000000e+04 2.30000000e+04
 1.64000000e+04 1.78000000e+04 1.81000000e+04 1.18000000e+04
 2.89000000e+04 1.58000000e+04 1.70000000e+04 4.20000000e+04
 1.82000000e+04 2.13000000e+04 3.39910000e+04 1.30000000e+04
 2.27000000e+04 1.72000000e+04 3.80000000e+04 3.30000000e+04
 1.02000000e+04 5.10000000e+04 1.29000000e+04 1.79000000e+04
 1.59900000e+04 1.99000000e+04 7.60000000e+04 3.44900000e+04
            nan 2.45000000e+04 5.99000000e+03 5.99000000e+04
 3.89900000e+04 8.00000000e+03 7.89000000e+04 3.25000000e+04
 3.59900000e+04 1.73000000e+04 1.48000000e+04 8.70000000e+03
 3.69000000e+04 6.80000000e+03 2.20000000e+04 2.39000000e+04
 2.69000000e+04 3.90000000e+04 4.99000000e+04 4.29910000e+04
 3.15000000e+04 2.29000000e+04 2.15000000e+04 3.00000000e+04
 1.91000000e+04 2.25000000e+04 9.50000000e+03 1.85000000e+04
 1.84000000e+04 2.48000000e+04 3.99000000e+04 2.00000000e+04
 8.20000000e+03 1.10000000e+05 2.87000000e+04 2.85000000e+04
 2.60000000e+04 2.99000000e+04 3.34000000e+04 2.37000000e+04
 2.79900000e+04 1.08000000e+04 1.45000000e+04 3.39000000e+04
 3.29910000e+04 2.38000000e+04 2.22000000e+04 1.09000000e+04
 1.39000000e+04 1.79500000e+04 9.20000000e+03 1.69900000e+04
 2.80000000e+04 1.10000000e+04 1.98000000e+04 8.30000000e+03
 1.50000000e+04 3.48000000e+04 5.19900000e+04 2.19000000e+04
 5.00000000e+04 1.53500000e+04 4.79000000e+04 3.24000000e+04
 1.15000000e+04 1.05500000e+04 1.79000000e+05 2.55000000e+04
 2.83000000e+04 1.22000000e+04 3.99000000e+03 1.89000000e+04
 1.86000000e+04 9.80000000e+04 2.68000000e+04 2.49900000e+04
 1.96000000e+04 1.34500000e+04 3.59000000e+04 3.19000000e+04
 4.89000000e+04 1.49000000e+04 2.24500000e+04 8.60000000e+03
 2.70000000e+04 3.29000000e+04 3.09000000e+04 4.59000000e+04
 2.75000000e+04 7.70000000e+04 4.29000000e+04 4.40000000e+04
 5.29000000e+04 6.99000000e+04 2.09000000e+04 2.59000000e+04
 2.49000000e+04 9.59000000e+04 3.65000000e+04 3.95000000e+04
 3.79000000e+04 4.05000000e+04 1.59900000e+05 4.80000000e+04
 3.75000000e+04 6.79000000e+04 5.90000000e+03 1.29900000e+05
 4.09000000e+04 2.98000000e+04 4.25000000e+04 3.45000000e+04
 2.02000000e+04 1.74000000e+04 1.54000000e+04 2.04000000e+04
 1.53000000e+04 9.99000000e+03 1.14900000e+04 1.08500000e+04
 4.85000000e+04 4.00000000e+04 5.50000000e+03 1.92000000e+04
 1.39500000e+04 7.49000000e+04 9.99000000e+04 3.10000000e+04
 1.86900000e+04 1.19500000e+04 1.00000000e+04 1.77000000e+04
 2.96000000e+04 1.58990000e+04 8.80000000e+03 1.05000000e+04
 8.90000000e+03 2.50000000e+04 7.40000000e+04 1.23000000e+04
 6.79000000e+03 1.19000000e+05 3.20000000e+04 1.58900000e+04
 1.59990000e+04 2.48900000e+04 3.09900000e+04 3.05000000e+04
 1.49900000e+04 3.94900000e+04 4.09900000e+04 3.14900000e+04
 1.78900000e+04 1.22500000e+04 2.44900000e+04 4.99900000e+04
 4.74900000e+04 6.69900000e+04 1.74900000e+04 1.67000000e+04
 1.97000000e+04 5.69900000e+04 2.99900000e+04 2.07000000e+04
 1.89500000e+04 2.69900000e+04 3.39900000e+04 1.71900000e+04
 6.29900000e+04 3.49900000e+04 2.88000000e+04 2.22900000e+04
 1.84900000e+04 2.09500000e+04 2.24900000e+04 2.42000000e+04
 3.85000000e+04 8.49900000e+04 1.52000000e+04 1.93000000e+04
 2.89100000e+04 2.58000000e+04 5.98900000e+04 6.79900000e+04
 2.08000000e+04 2.91000000e+04 3.29900000e+04 2.61000000e+04
 7.10000000e+03 2.51000000e+04 2.04900000e+04 6.38900000e+04
 2.64900000e+04 1.94000000e+04 1.09900000e+04 7.29000000e+04
 2.92000000e+04 1.59000000e+05 1.64900000e+04 1.62000000e+04
 2.59900000e+04 1.99900000e+04 9.10000000e+03 4.45000000e+04
 1.29800000e+04 1.39900000e+04 1.52900000e+04 1.63000000e+04
 1.09000000e+05 2.29000000e+05 3.60000000e+04 8.20000000e+04
 6.49000000e+04 3.34900000e+04 4.89900000e+04 8.09900000e+04
 6.59000000e+04 3.89000000e+04 4.19000000e+04 8.50000000e+04
 2.57500000e+04 4.70000000e+04 1.71990000e+04 2.23000000e+04
 1.28000000e+04 8.10000000e+03 1.43500000e+04 1.24900000e+05